h1 {
    color: blue;
    background-color: gray;
}

p {
    color: red;
    background-color: cornsilk;
}

button {
    color: gold;
    background-color: black;
    /* background: black;   not used mostly it is for all  */
}